label, input {
  display:block
}

label, button {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #3d3d3d;
}

input {
  border-radius: 0.25rem;
  padding: 1rem;
  width: 30%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
